@model gestionDiversidad.ViewModels.TAdministraciones.AdminView
@using gestionDiversidad.Constantes

@{
    ViewData["Title"] = "infoBasica";
}
<div class="text-center">
    <h2>Información del/a administrador/a</h2>
</div>


<div class="text-center">
    <hr />
        <dl class="row">
            <dt>
            <strong>Nombre: </strong>
        </dt>
            <dd>
            @Html.DisplayFor(model => model.Admin.Nombre)
        </dd>
        <dt >
            <strong>Primer apellido: </strong>
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Admin.Apellido1)
        </dd>
        <dt >
            <strong>Segundo apellido: </strong>
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Admin.Apellido2)
        </dd>
        <dt >
            <strong>Nif: </strong>
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Admin.NifNavigation.Nif)
        </dd>
        </dl>
</div>

<div style="text-align:center; vertical-align:middle; margin-top: 10px; margin-bottom: 10px;">
    <div class="btn-group">
        <div class="btn-group-vertical; mx-auto">
        @if (Model!.LAlumnos.Acceder)
        {
            <form asp-controller="TAlumnos" asp-action="listaAlumnos">
                <input type="hidden" name="volverPadre" value="false" />
                <input type="hidden" name="rol" value="@constDefinidas.rolAdmin" />
                <input type="hidden" name="nif" value="@Model.Admin.Nif" />
                <button type="submit" class="btn btn-info text-white">
                    Alumnos
                </button>
            </form>
        }
        @if (Model!.LAsignaturas.Acceder)
        {
            <div style="margin-top: 10px; margin-bottom: 10px;">
                <form method="get" asp-action="listaAsignaturas" asp-controller="TAsignaturas">
                    <button type="submit" class="btn btn-info text-white">
                        Asignaturas
                    </button>
                </form> 
            </div>
        }
        @if (Model!.LInformes.Acceder)
        {
            <form asp-controller="TInformes" asp-action="listaInformes">
                <input type="hidden" name="rol" value="@constDefinidas.rolAdmin" />
                <input type="hidden" name="nif" value="@Model.Admin.Nif" />
                <button type="submit" class="btn btn-info text-white">
                    Informes
                </button>
            </form>
        }
        </div>
    </div>

    <div class="btn-group">
        <div class="btn-group-vertical; mx-auto">
        @if (Model!.LProfesores.Acceder)
        {
            <form asp-controller="TProfesores" asp-action="listaProfesores">
                <input type="hidden" name="volverPadre" value="false" />
                <button type="submit" class="btn btn-info text-white">
                    Profesores
                </button>
            </form>
        }
        @if (Model.LMatriculas.Acceder)
        {
            <div style="margin-top: 10px; margin-bottom: 10px;">
                <form asp-controller="TAlumnos" asp-action="listaMatriculas">
                <button type="submit" class="btn btn-info text-white">
                    Matrículas
                </button>
                </form>
            </div>
        }
        @if (Model.LPantallas.Acceder)
        {
            <form asp-controller="TPantallas" asp-action="listaPantallas">
                <button type="submit" class="btn btn-info text-white">
                    Pantallas
                </button>
            </form>
        }

        </div>
    </div>
    
    <div class="btn-group">
        <div class="btn-group-vertical; mx-auto">
        @if (Model!.LMedicos.Acceder)
        {
            <form asp-controller="TMedicos" asp-action="listaMedicos">
                <input type="hidden" name="volverPadre" value="false" />
                <button type="submit" class="btn btn-info text-white">
                    Médicos
                </button>
            </form>
        }
        @if (Model!.LDocencias.Acceder)
        {
            <div style="margin-top: 10px; margin-bottom: 10px;">
                <form asp-controller="TProfesores" asp-action="listaDocencias">
                    <button type="submit" class="btn btn-info text-white">
                        Docencias
                    </button>
                </form>
            </div>
        }
    @if (Model.LPantallas.Acceder)
    {
        <form asp-controller="TAuditoriums" asp-action="listaAuditorias">
            <button type="submit" class="btn btn-info text-white">
                Auditorías
            </button>
        </form>
    }
        </div>
    </div>
</div>

