@using gestionDiversidad.Constantes
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - gestionDiversidad</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/gestionDiversidad.styles.css" asp-append-version="true" />
    @await Html.PartialAsync("_Favicons")
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex align-items-center">
                <a class="navbar-brand" href="#">
                    <img src="/logoNavbar.PNG" alt="Logo" />
                </a>
                <p class="navbar-brand mr-auto mb-0 h1">Gestión Diversidad &nbsp;&nbsp;</p>
                <div class="navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 d-flex">
                        @if(Context.Session.GetInt32(constDefinidas.keyRol) != null){
                            <li class="nav-item" style="margin-right: 10px;">
                                <form method="post" asp-controller="TUsuarios" asp-action="cerrarSesion">
                                    <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
                                </form>
                            </li>
                            <li class="nav-item" style="margin-right: 10px;">
                                <form asp-controller="TUsuarios" asp-action="volverPerfilPrincipal">
                                    <input type="hidden" name="rol" value=@Context.Session.GetInt32(constDefinidas.keyRol) />
                                    <input type="hidden" name="nif" value=@Context.Session.GetString(constDefinidas.keyNif) />
                                    <button type="submit" class="btn btn-primary">Perfil Principal</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
                @if (Context.Session.GetInt32(constDefinidas.keyRol) != null)
                {
                    @if (Context.Session.GetInt32(constDefinidas.keyRol) == constDefinidas.rolAlumno)
                    {
                        <div class="text-right d-flex align-items-center ml-auto">
                            <p class="mb-0">
                                Usuario: @Context.Session.GetString(constDefinidas.keyUser)  Rol: Alumno/a
                            </p>
                        </div>
                    }
                    @if (Context.Session.GetInt32(constDefinidas.keyRol) == constDefinidas.rolProfesor)
                    {
                        <div class="text-right d-flex align-items-center ml-auto">
                            <p class="mb-0">
                                Usuario: @Context.Session.GetString(constDefinidas.keyUser)  Rol: Profesor/a
                            </p>
                        </div>
                    }
                    @if (Context.Session.GetInt32(constDefinidas.keyRol) == constDefinidas.rolMedico)
                    {
                        <div class="text-right d-flex align-items-center ml-auto">
                            <p class="mb-0">
                                Usuario: @Context.Session.GetString(constDefinidas.keyUser)  Rol: Medico
                            </p>
                        </div>
                    }
                    @if (Context.Session.GetInt32(constDefinidas.keyRol) == constDefinidas.rolAdmin)
                    {
                        <div class="text-right d-flex align-items-center ml-auto">
                            <p class="mb-0">
                                Usuario: @Context.Session.GetString(constDefinidas.keyUser)  Rol: Administrador/a
                            </p>
                        </div>
                    }
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Gestión Diversidad
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/orderTable.js"></script>
    <script src="~/js/noBackPage.js?v=1"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
