@model gestionDiversidad.ViewModels.TPantallas.ListaPantallasView

@{
    ViewData["Title"] = "listaPantallas";
}

<h1>Lista de pantallas</h1>

<div class="table-responsive overflow-auto" style=" max-height: 500px; overflow-y: auto;">
    <table id="listaPantallas" class="table table-bordered table-striped">
        <thead style="text-align:center; vertical-align:middle">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ListaPantallas.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListaPantallas.First().Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListaPantallas.First().Descripcion)
                </th>
            </tr>
        </thead>
        <tbody style="text-align:center; vertical-align:middle">
            @foreach (var item in Model.ListaPantallas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div style="margin-top: 10px; margin-bottom: 10px;">
    <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.SesionNif asp-route-rol=@Model.SesionRol class="btn btn-dark">Volver atrás</a>
</div>




