@model IEnumerable<gestionDiversidad.Models.TPermiso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Insertar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modificar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acceder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPantallaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRolNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Insertar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modificar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acceder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPantallaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRolNavigation.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
