@model gestionDiversidad.ViewModels.TProfesores.BorrarProfesorView

@{
    ViewData["Title"] = "borrarProfesor";
}

<h3>¿Seguro que quieres borrar el profesor?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            <strong>@Html.DisplayNameFor(model => model.Profesor.Nombre)</strong>
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Profesor.Nombre)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            <strong>Primer Apellido</strong>
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Profesor.Apellido1)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            <strong>Segundo Apellido</strong>
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Profesor.Apellido2)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-3">
            <strong>@Html.DisplayNameFor(model => model.Profesor.Nif)</strong>
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Profesor.Nif)
        </dd>
    </dl>

    <form asp-action="confirmarBorradoProfesor" asp-controller="TProfesores" method="post"
          style="margin-top: 10px; margin-bottom: 10px;">
        <input type="hidden" name="nifProfesor" value="@Model.Profesor.Nif" />
        <input type="submit" value="Borrar Profesor" class="btn btn-danger" /> 
    </form>
    <div>
        <a asp-action="listaProfesores" asp-controller="TProfesores"
           asp-route-volverPadre="false">
            Volver lista de Profesores.
        </a>
    </div>
</div>
