@using Microsoft.AspNetCore.Http
@using gestionDiversidad.Constantes
@model gestionDiversidad.ViewModels.TProfesores.ProfesorView

@{
    ViewData["Title"] = "infoBasica";
}

<div class="text-center">
    <h2>Información del profesor</h2>
</div>

<div class="text-center">
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Profesor.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profesor.Nombre)
        </dd>
        <dd>
            <strong>Primer apellido: </strong>
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Profesor.Apellido1)
        </dd>
        <dd>
            <strong>Segundo apellido: </strong>
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Profesor.Apellido2)
        </dd>
        <dd>
            <strong>Nif del profesor: </strong>
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Profesor.NifNavigation.Nif)
        </dd>
    </dl>
</div>

<div class="text-center">
    @if (Model.Permiso.Modificar)
    {
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <form asp-controller="TProfesores" asp-action="modificarProfesor">
                <button type="submit" class="btn btn-primary">Modificar profesor</button>
            </form>
        </div>
    }
    @if (Model.LDocencias.Acceder)
    {
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <form method="get" asp-action="listaAsignaturas" asp-controller="TAsignaturas">
                <button type="submit" class="btn btn-info text-white">Asignaturas</button>
            </form>
        </div>
    }

    @if (Model!.LAlumnos.Acceder)
    {
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <form method="get" asp-action="listaAlumnos" asp-controller="TAlumnos">
                <input type="hidden" name="volverPadre" value="false" />
                <button type="submit" class="btn btn-info text-white">Alumnos</button>
            </form>
        </div>
    }
    @if (Model!.LProfesores.Acceder)
    {
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <a asp-controller="TProfesores" asp-action="listaProfesores"
            asp-route-volverPadre="true" class="btn btn-dark">
                Volver atrás
            </a>
        </div>
    }

</div>


