@using Microsoft.AspNetCore.Http
@using gestionDiversidad.Constantes
@model gestionDiversidad.ViewModels.TProfesores.ProfesorView

@{
    ViewData["Title"] = "infoBasica";
}

<h1>Información del profesor</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesor.Nombre)
        </dd>
        <dd class="col-sm-2">
            <strong>Primer apellido: </strong>
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesor.Apellido1)
        </dd>
        <dd class="col-sm-2">
            <strong>Segundo apellido: </strong>
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesor.Apellido2)
        </dd>
        <dd class="col-sm-2">
            <strong>Nif del profesor: </strong>
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesor.NifNavigation.Nif)
        </dd>
    </dl>
</div>

@if (Model.Permiso.Modificar)
{
    <div>
        <form asp-controller="TProfesores" asp-action="modificarProfesor">
            <button type="submit">Modificar profesor</button>
        </form>
    </div>
}
@if (Model.LDocencias.Acceder)
{
    <div>
        <form method="get" asp-action="listaAsignaturas" asp-controller="TAsignaturas">
            <button type="submit">Lista de asignaturas del profesor</button>
        </form>
    </div>
}

@if (Model!.LAlumnos.Acceder)
{
    <div>
        <form method="get" asp-action="listaAlumnos" asp-controller="TAlumnos">
            <input type="hidden" name="volverPadre" value="false" />
            <button type="submit">Ver lista de alumnos del profesor</button>
        </form>
    </div>
}
@if (Model!.LProfesores.Acceder)
{
    <div>
    <a asp-controller="TProfesores" asp-action="listaProfesores"
    asp-route-volverPadre="true">Volver a la lista de profesores</a>
    </div>
}

