@model gestionDiversidad.ViewModels.TProfesores.CrearDocenciaView

@{
    ViewData["Title"] = "crearDocencia";
}

<div class="text-center">
    <h2>Crear nueva docencia</h2>
</div>

<hr />
<div class="text-center">
        <form asp-action="crearDocencia" asp-controller="TProfesores"method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div style="margin-top: 10px; margin-bottom: 10px;">
        <label for="profesorDataList" class="form-label" style="display: block;">Profesor/a: </label>
        <input asp-for="NifProfesor" list="datalistOptionsProfesores" id="profesorDataList" placeholder="Buscar profesor/a..." class="text-center">
        <datalist asp-for="NifProfesor" id="datalistOptionsProfesores">
            @foreach (var profesor in Model.LProfesores!)
            {
                <option value="@($"{profesor.Nombre} | {profesor.Nif}")"></option>
            }
        </datalist>
            <div style="margin-bottom: 10px;">
                <span asp-validation-for="@Model.NifProfesor" class="text-danger"></span>
            </div>
                
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
            <label for="asignaturaDataList" class="form-label" style="display: block;">Asignatura: </label>
            <input asp-for="IdAsignatura" list="datalistOptionsAsignaturas" id="asignaturaDataList" placeholder="Buscar asignatura..." class="text-center">
            <datalist asp-for="IdAsignatura" id="datalistOptionsAsignaturas">
                @foreach (var asignatura in Model.LAsignaturas!)
                {
                    <option value="@($"{asignatura.Nombre} | {asignatura.Id}")"></option>
                }
            </datalist>
            <div style="margin-bottom: 10px;">
                <span asp-validation-for="@Model.IdAsignatura" class="text-danger"></span>
            </div>

        </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
                <input type="submit" value="Crear docencia" class="btn btn-primary" />
            </div>
    </form>
</div>

<div class="text-center" style="margin-top: 10px; margin-bottom: 10px;">
    <a asp-controller="TProfesores" asp-action="listaDocencias"
       asp-route-volverPadre="false" class="btn btn-dark">
       Volver atrás
   </a>
</div>
<div class="text-center">
    @if (TempData["ExisteDocencia"] != null)
    {
        <div class="alert alert-danger">@TempData["ExisteDocencia"]</div>
    }
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
