@model gestionDiversidad.ViewModels.TProfesores.ListaProfesoresView

@{
    ViewData["Title"] = "listaProfesores";
}

<h1>Lista de profesores</h1>

<div class="table-responsive overflow-auto" style=" max-height: 500px; overflow-y: auto;">
    <table id="listaProfesores" class="table table-bordered table-striped">
        <thead style="text-align:center; vertical-align:middle">
            <tr>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.ListaProfesores.First().Nombre)</strong>
                </th>
                <th>
                    <strong>Primer apellido </strong>
                </th>
                <th>
                    <strong>Segundo apellido </strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.ListaProfesores.First().Nif)</strong>
                </th>
                @if (Model.Profesor.Acceder)
                {
                    <th>
                        <strong>Acción: Detalles</strong>
                    </th>
                }
                @if (Model.Permiso.Borrar)
                {
                    <th>
                        <strong>Acción: Borrar</strong>
                    </th>
                }
            </tr>
        </thead>
        <tbody style="text-align:center; vertical-align:middle">
            @foreach (var item in Model.ListaProfesores)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nif)
                    </td>
                    @if (Model.Profesor.Acceder)
                    {
                        <td>
                            <form method="get" asp-action="infoBasica" asp-controller="TProfesores">
                                <input type="hidden" name="id" value=@item.Nif />
                                <button type="submit" class="btn btn-info text-white">Detalles</button>
                            </form>
                        </td>
                    }
                    @if (Model.Permiso.Borrar)
                    {
                        <td>
                            <form asp-action="borrarProfesor" asp-controller="TProfesores">
                                <input type="hidden" name="nifProfesor" value="@item.Nif" />
                                <input type="submit" value="Borrar" class="btn btn-warning text-white" />
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.Permiso.Insertar)
{
    <div>
        <a asp-controller="TProfesores" asp-action="insertarProfesor"
           class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px;">
            Crear nuevo profesor
        </a>
    </div>
}

<div>
    <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.SesionNif asp-route-rol=@Model.SesionRol class="btn btn-dark">
        Volver atrás
    </a>
</div>


