@model gestionDiversidad.ViewModels.BorrarAlumnoView

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Seguro que quieres borrar esto?</h3>
<div>
    <h4>TAlumno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alumno.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alumno.Nif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alumno.Nif)
        </dd>
    </dl>

    <form asp-action="confirmarBorradoAlumno" asp-controller="TAlumnos" method="post">
        <input type="hidden" name="nifAlumno" value="@Model.Alumno.Nif" />
        <input type="hidden" name="actualRol" value="@Model.ActualRol" />
        <input type="hidden" name="actualNif" value="@Model.ActualNif" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
    <div>
        <a asp-action="listaAlumnos" asp-controller="TAlumnos"
           asp-route-nif="@Model.ActualNif" asp-route-rol="@Model.ActualRol" 
           asp-route-volverPadre="false">
            Volver lista de Alumnos.
        </a>
    </div>
</div>
