@model gestionDiversidad.ViewModels.TAlumnos.BorrarAlumnoView

@{
    ViewData["Title"] = "borrarAlumno";
}

<div class="text-center">
    <h2>¿Seguro que quieres borrar el/la alumno/a?</h2>
</div>

<hr />
<div class="text-center">
    <dl class="row">
        <dt>
            <strong>Nombre: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>
    </dl>
    <dl class="row">
        <dt>
            <strong>Primer Apellido: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alumno.Apellido1)
        </dd>
    </dl>
    <dl class="row">
        <dt>
            <strong>Segundo Apellido: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alumno.Apellido2)
        </dd>
    </dl>
    <dl class="row">
        <dt>
            <strong>Nif: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alumno.Nif)
        </dd>
    </dl>

    <form asp-action="confirmarBorradoAlumno" asp-controller="TAlumnos" method="post"
    style="margin-top: 10px; margin-bottom: 10px;">
        <input type="hidden" name="nifAlumno" value="@Model.Alumno.Nif" />
        <input type="submit" value="Borrar Alumno/a" class="btn btn-danger" /> 
    </form>
    <div>
        <a asp-action="listaAlumnos" asp-controller="TAlumnos"
           asp-route-volverPadre="false" class="btn btn-dark">
            Volver atrás
        </a>
    </div>
</div>
