@using Microsoft.AspNetCore.Http
@model gestionDiversidad.ViewModels.TAlumnos.AlumnoView
@using gestionDiversidad.Constantes

@{
    ViewData["Title"] = "infoBasica";
}

<h1>Información del alumno</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alumno.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>
        <dd class ="col-sm-2">
            <strong>Primer apellido: </strong>
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alumno.Apellido1)
        </dd>
        <dd class="col-sm-2">
            <strong>Segundo apellido: </strong>
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alumno.Apellido2)
        </dd>
        <dd class="col-sm-2">
            <strong>Nif del alumno: </strong>
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alumno.NifNavigation.Nif)
        </dd>
    </dl>
</div>

@if (Model!.Permiso.Modificar)
{
    <div>
        <form asp-controller="TAlumnos" asp-action="modificarAlumno" asp-route-nif="@Model.Alumno.Nif">
            <button type="submit">Modificar alumno</button>
        </form>
    </div>
}
@if (Model.LMatriculas.Acceder)
{
    <div>
        <form method="get" asp-action="listaAsignaturas" asp-controller="TAsignaturas">
            <button type="submit">Lista de asignaturas del alumno</button>
        </form>
    </div>
}

@if (Model!.LInformes.Acceder)
{
    <div>
        <form method="get" asp-action="listaInformes" asp-controller="TInformes">
            <input type="hidden" name="nif" value="@Model?.Alumno.Nif" />
            <input type="hidden" name="rol" value="@constDefinidas.rolAlumno" />
            <button type="submit">Lista de informes del alumno</button>
        </form>
    </div>
}
@if (Model!.LAlumnos.Acceder)
{
    <div>
        <a asp-controller="TAlumnos" asp-action="listaAlumnos"
       asp-route-nif=@Model.PadreNif asp-route-rol=@Model.PadreRol
       asp-route-volverPadre="true">Volver a la lista de alumnos</a>
    </div>
}
