@using Microsoft.AspNetCore.Http
@model gestionDiversidad.ViewModels.TAlumnos.AlumnoView
@using gestionDiversidad.Constantes

@{
    ViewData["Title"] = "infoBasica";
}

<div class="text-center">
    <h2>Información del/a alumno/a</h2>
</div>

<div class="text-center">
    <hr />
    <dl class="row">
        <dt>
            <strong>Nombre: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>
        <dd>
            <strong>Primer apellido: </strong>
        </dd>
        <dd >
            @Html.DisplayFor(model => model.Alumno.Apellido1)
        </dd>
        <dd>
            <strong>Segundo apellido: </strong>
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Alumno.Apellido2)
        </dd>
        <dd>
            <strong>Nif: </strong>
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Alumno.NifNavigation.Nif)
        </dd>
    </dl>
</div>

<div class="text-center">
    @if (Model!.Permiso.Modificar)
    {
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <form asp-controller="TAlumnos" asp-action="modificarAlumno" asp-route-nif="@Model.Alumno.Nif">
                <button type="submit" class="btn btn-primary">Modificar alumno</button>
            </form>
        </div>
    }
    @if (Model.LMatriculas.Acceder)
    {
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <form method="get" asp-action="listaAsignaturas" asp-controller="TAsignaturas">
                <button type="submit" class="btn btn-info text-white">Asignaturas</button>
            </form>
        </div>
    }

    @if (Model!.LInformes.Acceder)
    {
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <form method="get" asp-action="listaInformes" asp-controller="TInformes">
                <button type="submit" class="btn btn-info text-white">Informes</button>
            </form>
        </div>
    }
    @if (Model!.LAlumnos.Acceder)
    {
       <div>
        <a asp-controller="TAlumnos" asp-action="listaAlumnos"
           asp-route-volverPadre="true" class="btn btn-dark">
           Volver atrás
       </a>
        </div>
    }

</div>

