@model gestionDiversidad.ViewModels.TAlumnos.CrearAlumnoView

@{
    ViewData["Title"] = "CrearAlumno";
}

<div class="text-center">
    <h2>Crear nuevo/a alumno/a</h2>
    <h4>Un/a alumno/a nuevo deberá tener un informe asignado como mínimo</h4>
</div>
<hr />

<div class="text-center">
        <form asp-action="crearUsuarioAlumno" asp-controller="TUsuarios"
              method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
            <label asp-for="@Model.Nif" class="control-label" style="display: block;">Nif: </label>
                <input asp-for="Nif"/>
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.Nif" class="text-danger"></span>
                </div>               
            </div>
            <div style="margin-top: 10px; margin-bottom: 10px;">
            <label asp-for="@Model.Usuario" class="control-label" style="display: block;">Usuario: </label>
                <input asp-for="Usuario" />
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.Usuario" class="text-danger"></span>
                </div>           
            </div>
            <div style="margin-top: 10px; margin-bottom: 10px;">
            <label asp-for="@Model.Password" class="control-label" style="display: block;">Password: </label>
                <input asp-for="Password" type="password" />
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>   
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
            <label asp-for="@Model.ConfirmPassword" class="control-label" style="display: block;">Confirmar Password: </label>
                <input asp-for="ConfirmPassword" type="password" />                
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
            <label asp-for="@Model.Nombre" class="control-label" style="display: block;">Nombre: </label>
                <input asp-for="Nombre" />
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
                </div>                
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
            <label asp-for="@Model.Apellido1" class="control-label" style="display: block;">Primer apellido: </label>
                <input asp-for="Apellido1" />
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.Apellido1" class="text-danger"></span>
                </div>            
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
            <label asp-for="@Model.Apellido2" class="control-label" style="display: block;">Segundo apellido: </label>
                <input asp-for="Apellido2" />
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.Apellido2" class="text-danger"></span>
                </div>            
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
            <label asp-for="@Model.PDF" class="control-label" style="display: block;">Seleccione el archivo PDF: </label>
                <input asp-for="@Model.PDF" type="file" accept=".pdf">
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.PDF" class="text-danger"></span>
                </div>            
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
            <label for="medicoDataList" class="form-label" style="display: block;">Médico: </label>
            <input asp-for="MedicoNif" list="datalistOptionsMedicos" id="medicoDataList" placeholder="Buscar médico..." class="text-center">
            <datalist asp-for="MedicoNif" id="datalistOptionsMedicos">
                @foreach (var medico in Model.ListaMedicos!)
                {
                    <option value="@($"{medico.Nombre} | {medico.Nif}")"></option>
                }
            </datalist>
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.MedicoNif" class="text-danger"></span>
                </div>           
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
                <input type="hidden" name="actualRol" value="@Model.ActualRol" />
                <input type="hidden" name="actualNif" value="@Model.ActualNif" />
                <input type="submit" value="Crear alumno" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="listaAlumnos" asp-controller="TAlumnos"
               asp-route-volverPadre="false" class="btn btn-dark">
                    Volver atrás
                </a>
            </div>
        </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
