@model gestionDiversidad.ViewModels.TAlumnos.CrearMatriculaView

@{
    ViewData["Title"] = "crearMatricula";
}

<div class="text-center">
    <h2>Crear nueva matrícula</h2>
</div>

<hr />
<div class="text-center">
        <form asp-action="crearMatricula" asp-controller="TAlumnos"method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <label for="alumnoDataList" class="form-label" style="display: block;">Alumno/a: </label>
            <input asp-for="NifAlumno" list="datalistOptions" id="alumnoDataList" placeholder="Buscar alumno/a..." class="text-center">
            <datalist asp-for="NifAlumno" id="datalistOptions">
                @foreach (var alumno in Model.LAlumnos!)
                {
                    <option value="@($"{alumno.Nombre} / {alumno.Nif}")" ></option>
                }
            </datalist>
                <span asp-validation-for="@Model.NifAlumno" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
            <label asp-for="@Model.IdAsignatura" class="control-label" style="display: block;"> Asignatura: </label>
            <select asp-for="IdAsignatura" asp-items="@Model.LAsignaturas!.Select(a => new SelectListItem { Text = a.Nombre, Value = a.Id.ToString() })" class="text-center"></select>
                <span asp-validation-for="@Model.IdAsignatura" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
                <input type="submit" value="Crear matrícula" class="btn btn-primary" />
            </div>
        </form>
</div>

<div class="text-center" style="margin-top: 10px; margin-bottom: 10px;">
    <a asp-controller="TAlumnos" asp-action="listaMatriculas"
       asp-route-volverPadre="false" class="btn btn-dark">
       Volver atrás
   </a>
</div>

@if (TempData["ExisteMatricula"] != null)
{
    <div class="alert alert-danger text-center">
        @TempData["ExisteMatricula"]
    </div>
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

