@model gestionDiversidad.ViewModels.ListaAlumnosView
@using gestionDiversidad.Constantes

@{
    ViewData["Title"] = "listaAlumnos";
}

<h1>Lista de alumnos</h1>

<table class="table" style="text-align:center; vertical-align:middle">
    <thead>
        <tr>
            <th>
                <strong>@Html.DisplayNameFor(model => model.ListaAlumnos.First().Nombre)</strong>
            </th>
            <th>
                <strong>Primer apellido: </strong>
            </th>
            <th>
                <strong>Segundo apellido: </strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.ListaAlumnos.First().Nif)</strong>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaAlumnos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>
                @if (Model.Alumno.Acceder)
                {
                    <td>
                        <form method="get" asp-action="infoBasica" asp-controller="TAlumnos">
                            <input type="hidden" name="id" value=@item.Nif />
                            <button type="submit">Detalles Alumno</button>
                        </form>
                    </td>
                }
                @if (Model.Permiso.Borrar)
                {
                    <td>
                        <form method="get" asp-action="borrarAlumno" asp-controller="TAlumnos">
                            <input type="hidden" name="nifAlumno" value=@item.Nif />
                            <button type="submit" class="btn btn-danger">Borrar Alumno</button>
                        </form>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
@if (Model.Permiso.Insertar && Model.ActualRol == constDefinidas.rolAdmin)
{
    <div style="margin-top: 10px; margin-bottom: 10px;">
        <a asp-controller="TAlumnos" asp-action="insertarAlumno"
           class="btn btn-primary">Crear nuevo alumno</a>
    </div>
}
@if (Model.Rol == Model.SesionRol)
{
    <div>
        <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.Nif asp-route-rol=@Model.Rol>Volver al perfil principal</a>
    </div>
}
else
{
    <div>
        <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.Nif asp-route-rol=@Model.Rol>Volver para atrás</a>
    </div>
    <div>
        <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.SesionNif asp-route-rol=@Model.SesionRol>Volver a perfil principal</a>
    </div>
}
