@model gestionDiversidad.ViewModels.TMedicos.MedicoView
@using gestionDiversidad.Constantes

@{
    ViewData["Title"] = "infoBasica";
}

<h1>Información de médico</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medico.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medico.Nombre)
        </dd>
        <dd class="col-sm-2">
            <strong>Primer apellido: </strong>
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medico.Apellido1)
        </dd>
        <dd class="col-sm-2">
            <strong>Segundo apellido: </strong>
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medico.Apellido2)
        </dd>
        <dd class="col-sm-2">
            <strong>Nif del médico: </strong>
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medico.NifNavigation.Nif)
        </dd>
    </dl>
</div>

@if (Model!.Permiso.Modificar && (Model.Medico.Nif != constDefinidas.keyMedicoTemporal))
{
    <div>
        <form asp-controller="TMedicos" asp-action="modificarMedico" asp-route-nif="@Model.Medico.Nif">
            <button type="submit">Modificar médico</button>
        </form>
    </div>
}
@if (Model.LAlumnos.Acceder)
{
    <div>
        <form method="get" asp-action="listaAlumnos" asp-controller="TAlumnos">
            <input type="hidden" name="volverPadre" value="false" />
            <button type="submit">Ver lista de Alumnos</button>
        </form>
    </div>
}

@if (Model!.LInformes.Acceder)
{
    <div>
        <form method="get" asp-action="listaInformes" asp-controller="TInformes">
            <button type="submit">Lista de informes del médico</button>
        </form>
    </div>
}

@if (Model!.LMedicos.Acceder)
{
    <div>
        <a asp-controller="TMedicos" asp-action="listaMedicos"
        asp-route-volverPadre="true">Volver a la lista de médicos</a>
    </div>
}

