@model gestionDiversidad.ViewModels.TMedicos.MedicoView
@using gestionDiversidad.Constantes

@{
    ViewData["Title"] = "infoBasica";
}

<div class="text-center">
    <h2>Información de médico</h2>
</div>

<div class="text-center">
    <hr />
    <dl class="row">
        <dt>
            <strong>Nombre: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medico.Nombre)
        </dd>
        <dd>
            <strong>Primer apellido: </strong>
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Medico.Apellido1)
        </dd>
        <dd>
            <strong>Segundo apellido: </strong>
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Medico.Apellido2)
        </dd>
        <dd>
            <strong>Nif del médico: </strong>
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Medico.NifNavigation.Nif)
        </dd>
    </dl>
</div>

<div class="text-center">
    @if (Model!.Permiso.Modificar && (Model.Medico.Nif != constDefinidas.keyMedicoTemporal))
    {
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <form asp-controller="TMedicos" asp-action="modificarMedico" asp-route-nif="@Model.Medico.Nif">
                <button type="submit" class="btn btn-primary">Modificar médico</button>
            </form>
        </div>
    }
    @if (Model.LAlumnos.Acceder)
    {
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <form method="get" asp-action="listaAlumnos" asp-controller="TAlumnos">
                <input type="hidden" name="volverPadre" value="false" />
                <button type="submit" class="btn btn-info text-white">Alumnos</button>
            </form>
        </div>
    }

    @if (Model!.LInformes.Acceder)
    {
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <form method="get" asp-action="listaInformes" asp-controller="TInformes">
                <button type="submit" class="btn btn-info text-white">Informes</button>
            </form>
        </div>
    }

    @if (Model!.LMedicos.Acceder)
    {
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <a asp-controller="TMedicos" asp-action="listaMedicos"
           asp-route-volverPadre="true" class="btn btn-dark">
                Volver atrás
            </a>
        </div>
    }
</div>


