@model gestionDiversidad.ViewModels.MedicoView
@using gestionDiversidad.Constantes

@{
    ViewData["Title"] = "infoBasica";
}

<h1>Details</h1>

<div>
    <h4>TMedico</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medico.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medico.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medico.Apellido1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medico.Apellido1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medico.Apellido2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medico.Apellido2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medico.NifNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medico.NifNavigation.Nif)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Medico.Nif">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@if (Model.LAlumnos.Acceder)
{
    <div>
        <form method="get" asp-action="listaAlumnos" asp-controller="TAlumnos">
            <input type="hidden" name="nif" value="@Model?.Medico.Nif" />
            <input type="hidden" name="rol" value=@constDefinidas.rolMedico />
            <input type="hidden" name="volverPadre" value="false" />
            <button type="submit">Ver lista de Alumnos</button>
        </form>
    </div>
}

@if (Model.LInformes.Acceder)
{
    <div>
        <form method="get" asp-action="listaInformes" asp-controller="TInformes">
            <input type="hidden" name="nif" value="@Model?.Medico.Nif" />
            <input type="hidden" name="rol" value=@constDefinidas.rolMedico />
            <button type="submit">Ver lista de informes</button>
        </form>
    </div>
}
@if (!(Model.Rol == Model.SesionRol))
{
    @if (!(Model.PadreRol == constDefinidas.rolMedico))
    {
        <div>
            <a asp-controller="TMedicos" asp-action="listaMedicos"
       asp-route-volverPadre="true">Volver a la lista de medicos</a>
        </div>
    }
}


<div>
    <a>@Context.Session.GetInt32("_rol").ToString()</a>
</div>
