@model gestionDiversidad.ViewModels.TMedicos.CrearMedicoView

@{
    ViewData["Title"] = "crearMedico";
}

<div class="text-center">
    <h2>Crear nuevo médico</h2>
</div>

<hr />
<div class="text-center">
        <form asp-action="crearUsuarioMedico" asp-controller="TUsuarios">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="margin-bottom: 10px;">
                <label asp-for="@Model.Nif" class="control-label" style="display: block;"></label>
                <input asp-for="Nif"/>
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.Nif" class="text-danger"></span>
                </div>         
            </div>
            <div style="margin-bottom: 10px;">
                <label asp-for="@Model.Usuario" class="control-label" style="display: block;"></label>
                <input asp-for="Usuario"/>
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.Usuario" class="text-danger"></span>
                </div>           
            </div>
            <div style="margin-bottom: 10px;">
                <label asp-for="@Model.Password" class="control-label" style="display: block;"></label>
                <input asp-for="Password" type="password" />
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>            
            </div>
            <div style="margin-bottom: 10px;">
                <label asp-for="@Model.ConfirmPassword" class="control-label" style="display: block;">Confirmar Password</label>
                <input asp-for="ConfirmPassword"  type="password" />
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>           
            </div>
            <div style="margin-bottom: 10px;">
                <label asp-for="@Model.Nombre" class="control-label" style="display: block;"></label>
                <input asp-for="Nombre" />
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
                </div>            
            </div>
            <div style="margin-bottom: 10px;">
                <label asp-for="@Model.Apellido1" class="control-label" style="display: block;"></label>
                <input asp-for="Apellido1" />
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.Apellido1" class="text-danger"></span>
                </div>           
            </div>
            <div style="margin-bottom: 10px;">
                <label asp-for="@Model.Apellido2" class="control-label" style="display: block;"></label>
                <input asp-for="Apellido2" />
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.Apellido2" class="text-danger"></span>
                </div>
            
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
                <input type="submit" value="Crear médico" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="listaMedicos" asp-controller="TMedicos"
               asp-route-volverPadre="false" class="btn btn-dark">
                    Volver atrás
                </a>
            </div>
        </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
