@model gestionDiversidad.ViewModels.TMedicos.ListaMedicosView
@using gestionDiversidad.Constantes

@{
    ViewData["Title"] = "listaMedicos";
}

<h1>Lista de médicos</h1>

<table class="table" style="text-align:center; vertical-align:middle">
    <thead>
        <tr>
            <th>
                <strong>@Html.DisplayNameFor(model => model.ListaMedicos.First().Nombre)</strong>
            </th>
            <th>
                <strong>Primer apellido: </strong>
            </th>
            <th>
                <strong>Segundo apellido: </strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.ListaMedicos.First().Nif)</strong>
            </th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.ListaMedicos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>
                @if (Model.Medico.Acceder)
                {
                    <td>
                        <form method="get" asp-action="infoBasica" asp-controller="TMedicos">
                            <input type="hidden" name="id" value=@item.Nif />
                            <button type="submit">Detalles Médico</button>
                        </form>
                    </td>
                }
                @if (Model.Permiso.Borrar && (item.Nif != constDefinidas.keyMedicoTemporal))
                {<td>
                    <form method="get" asp-action="borrarMedico" asp-controller="TMedicos">
                        <input type="hidden" name="nifMedico" value=@item.Nif />
                            <button type="submit" class="btn btn-danger">Borrar Médico</button>
                    </form>
                </td>
                }

            </tr>
        }
    </tbody>
</table>
@if(Model.Permiso.Insertar){
    <div style="margin-top: 10px; margin-bottom: 10px;">
        <a asp-controller="TMedicos" asp-action="insertarMedico"
           class="btn btn-primary">Crear nuevo médico</a>
    </div>
}

<div>
    <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.SesionNif asp-route-rol=@Model.SesionRol>Volver al perfil anterior</a>
</div>


