@model gestionDiversidad.ViewModels.TMedicos.ListaMedicosView
@using gestionDiversidad.Constantes

@{
    ViewData["Title"] = "listaMedicos";
}

<h1>Lista de médicos</h1>

<div class="table-responsive overflow-auto" style=" max-height: 500px; overflow-y: auto;">
    <table id="listaMedicos" class="table table-bordered table-striped">
        <thead style="text-align:center; vertical-align:middle">
            <tr>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.ListaMedicos.First().Nombre)</strong>
                </th>
                <th>
                    <strong>Primer apellido: </strong>
                </th>
                <th>
                    <strong>Segundo apellido: </strong>
                </th>
                <th>
                    <strong>@Html.DisplayNameFor(model => model.ListaMedicos.First().Nif)</strong>
                </th>
                @if (Model.Medico.Acceder)
                {
                    <th>
                        <strong>Acción: Detalles del médico</strong>
                    </th>
                }
                @if (Model.Permiso.Borrar)
                {
                    <th>
                        <strong>Acción: Borrar médico</strong>
                    </th>
                }
            </tr>
        </thead>
        <tbody style="text-align:center; vertical-align:middle">
            @foreach (var item in Model.ListaMedicos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nif)
                    </td>
                    @if (Model.Medico.Acceder)
                    {
                        <td>
                            <form method="get" asp-action="infoBasica" asp-controller="TMedicos">
                                <input type="hidden" name="id" value=@item.Nif />
                                <button type="submit" class="btn btn-info text-white">Detalles</button>
                            </form>
                        </td>
                    }
                    @if (Model.Permiso.Borrar )
                    {
                        <td>
                            <form method="get" asp-action="borrarMedico" asp-controller="TMedicos">
                                <input type="hidden" name="nifMedico" value=@item.Nif />
                                <button type="submit" class="btn btn-warning text-white">Borrar</button>
                            </form>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>

@if(Model.Permiso.Insertar){
    <div style="margin-top: 10px; margin-bottom: 10px;">
        <a asp-controller="TMedicos" asp-action="insertarMedico"
           class="btn btn-primary">Crear nuevo médico</a>
    </div>
}

<div>
    <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.SesionNif asp-route-rol=@Model.SesionRol class="btn btn-dark">
       Volver atrás
   </a>
</div>


