@model gestionDiversidad.ViewModels.ListaMedicosView

@{
    ViewData["Title"] = "listaMedicos";
}

<h1>Lista Medicos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaMedicos.First().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaMedicos.First().Nif)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaMedicos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nif)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
                @if (Model.Medico.Acceder)
                {
                    <td>
                        <form method="get" asp-action="infoBasica" asp-controller="TMedicos">
                            <input type="hidden" name="id" value=@item.Nif />
                            <button type="submit">Detalles Medico</button>
                        </form>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.SesionNif asp-route-rol=@Model.SesionRol>Volver a perfil principal</a>
</div>


