@model gestionDiversidad.ViewModels.ModificarUsuarios

@{
    ViewData["Title"] = "modificarMedico";
}

<h1>Modificar médico</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="confirmarCambios" asp-controller="TUsuarios"
              method="post">
            <div class="form-group">
                <label asp-for="@Model.Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Apellido1" class="control-label">Primer Apellido</label>
                <input asp-for="Apellido1" class="form-control" />
                <span asp-validation-for="@Model.Apellido1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Apellido2" class="control-label">Segundo Apellido</label>
                <input asp-for="Apellido2" class="form-control" />
                <span asp-validation-for="@Model.Apellido2" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
                <input type="hidden" asp-for="Nif" />
                <input type="hidden" asp-for="Rol" />
                <input type="submit" value="Modificar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.Nif asp-route-rol=@Model.Rol>Volver al perfil del médico</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}