@model gestionDiversidad.ViewModels.TAsignaturas.CrearAsignaturaView

@{
    ViewData["Title"] = "Create";
}

<h1>Crear nueva Asignatura</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="crearAsignatura" asp-controller="TAsignaturas">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Asignatura!.Nombre" class="control-label"></label>
                <input asp-for="@Model.Asignatura!.Nombre" class="form-control" />
                <span asp-validation-for="@Model.Asignatura!.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
                <input type="hidden" name="actualRol" value="@Model.ActualRol" />
                <input type="hidden" name="actualNif" value="@Model.ActualNif" />
                <input type="submit" value="Crear asignatura" class="btn btn-primary" />
            </div>
            <div style="margin-top: 10px; margin-bottom: 10px;">
                <a asp-action="listaAsignaturas" asp-controller="TAsignaturas">
                    Volver a la lista de asignaturas
                </a>
            </div>
        </form>
    </div>
</div>
<div>
    @if (TempData["NombreRepetido"] != null)
    {
        <div class="alert alert-danger">@TempData["NombreRepetido"]</div>
    }
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
