@model gestionDiversidad.ViewModels.TAsignaturas.ListaAsignaturasView
@using gestionDiversidad.Constantes

@{
    ViewData["Title"] = "listAsignaturas";
}

@if (Model.ActualRol == constDefinidas.rolAdmin)
{
    <h1>Lista de asignaturas: Administrador/a @Model.ActualName (NIF: @Model.ActualNif)</h1>
}

@if (Model.ActualRol == constDefinidas.rolProfesor)
{
    <h1>Lista de asignaturas: Profesor/a @Model.ActualName (NIF: @Model.ActualNif)</h1>
}

@if (Model.ActualRol == constDefinidas.rolAlumno)
{
    <h1>Lista de asignaturas: Alumno/a @Model.ActualName (NIF: @Model.ActualNif)</h1>
}

<div class="table-responsive overflow-auto" style=" max-height: 500px; overflow-y: auto;">
    <table id="listaAsignaturas" class="table table-bordered table-striped">
        <thead style="text-align:center; vertical-align:middle">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ListaAsignaturas.First().Nombre)
                </th>
                @if (Model.Permiso.Borrar)
                {
                    <th>
                        <strong>Acción: Borrar Asignatura</strong>
                    </th>
                }
                @if (Model.Permiso.Modificar)
                {
                    <th>
                        <strong>Acción: Modificar Asignatura</strong>
                    </th>
                }
            </tr>
        </thead>
        <tbody style="text-align:center; vertical-align:middle">
            @foreach (var item in Model.ListaAsignaturas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    @if (Model.Permiso.Borrar)
                    {
                        <td>
                            <form asp-action="borrarAsignatura" asp-controller="TAsignaturas">
                                <input type="hidden" name="actualNif" value=@Model.ActualNif />
                                <input type="hidden" name="actualRol" value=@Model.ActualRol />
                                <input type="hidden" name="id" value=@item.Id />
                                <button type="submit" class="btn btn-warning text-white">Borrar</button>
                            </form>
                        </td>
                    }
                    @if (Model.Permiso.Modificar)
                    {
                        <td>
                            <form asp-action="modificarAsignatura" asp-controller="TAsignaturas">
                                <input type="hidden" name="id" value=@item.Id />
                                <button type="submit" class="btn btn-primary text-white">Modificar</button>
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


@if (Model.Permiso.Insertar)
{
    <div style="margin-top: 10px; margin-bottom: 10px;">
        <a asp-controller="TAsignaturas" asp-action="insertarAsignatura" class="btn btn-primary">
            Crear nueva asignatura
        </a>
    </div>
}

<div>
    <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.ActualNif asp-route-rol=@Model.ActualRol class="btn btn-dark">Volver atrás</a>
</div>





