@model IEnumerable<gestionDiversidad.Models.TInforme>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NifAlumnoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NifMedicoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NifAlumnoNavigation.Nif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NifMedicoNavigation.Nif)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
