@model gestionDiversidad.ViewModels.InformeView

@{
    ViewData["Title"] = "infoBasica";
}

<h1>Details</h1>

<div>
    <h4>TInforme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Informe.NifAlumno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Informe.NifAlumno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Informe.NifMedico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Informe.NifMedico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Informe.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Informe.Fecha)
        </dd>
        <dd class="col-sm-10">
            <a href="@Url.Action("verInforme", "TInformes", new {nifAlumno = Model.Informe.NifAlumno, nifMedico = Model.Informe.NifMedico, fecha = Model.Informe.Fecha.ToString("yyyy-MM-ddTHH:mm:ss")})" target="_blank">Descargar</a>
        </dd>
    </dl>
</div>

@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-controller="TInformes" asp-action="listaInformes" asp-route-nif=@Model.Nif asp-route-rol=@Model.Rol>Volver a la lista</a>
</div> *@
@if (Model.Rol == Model.SesionRol)
{
    <div>
        <a asp-controller="TInformes" asp-action="listaInformes"
       asp-route-nif=@Model.Nif asp-route-rol=@Model.Rol>Volver al perfil principal</a>
    </div>
}
else
{
    <div>
        <a asp-controller="TInformes" asp-action="listaInformes"
       asp-route-nif=@Model.Nif asp-route-rol=@Model.Rol>Volver para atrás</a>
    </div>
    @if (!(Model.SesionRol == 2))
    {
        <div>
            <a asp-controller="TInformes" asp-action="listaInformes"
       asp-route-nif=@Model.SesionNif asp-route-rol=@Model.SesionRol>Volver a perfil principal</a>
        </div>
    }
    
}
