@model gestionDiversidad.ViewModels.TInformes.InformeView
@using gestionDiversidad.Constantes

@{
    ViewData["Title"] = "infoBasica";
}

<h1>Información del informe</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <strong>Nombre alumno: </strong>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>
        <dt class = "col-sm-2">
            <strong>Nombre médico: </strong>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico.Nombre)
        </dd>
        <dt class="col-sm-2">
            <strong>Fecha de creación: </strong>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Informe.Fecha)
        </dd>
        <dd class="col-sm-10">
            <a href="@Url.Action("verInforme", "TInformes", 
            new {nifAlumno = Model.Informe.NifAlumno, 
                nifMedico = Model.Informe.NifMedico, 
                fecha = Model.Informe.Fecha.ToString("yyyy-MM-ddTHH:mm:ss")})"
                target="_blank">Ver informe</a>
        </dd>
    </dl>
</div>

@if (Model.ActualRol == Model.SesionRol)
{
    <div>
        <a asp-controller="TInformes" asp-action="listaInformes"
       asp-route-nif=@Model.ActualNif asp-route-rol=@Model.ActualRol>Volver lista de informes</a>
    </div>
}
else
{
    <div>
        <a asp-controller="TInformes" asp-action="listaInformes"
       asp-route-nif=@Model.ActualNif asp-route-rol=@Model.ActualRol>Volver lista informes</a>
    </div>
    @if (!(Model.SesionRol == constDefinidas.rolProfesor))
    {
        <div>
            <a asp-controller="TInformes" asp-action="listaInformes"
       asp-route-nif=@Model.SesionNif asp-route-rol=@Model.SesionRol>Volver a perfil principal</a>
        </div>
    }
    
}

@if (Model.Permiso.Modificar)
{
    <form asp-controller="TInformes" asp-action="actualizarPDF" asp-route-nifAlumno="@Model.Informe.NifAlumno"
      asp-route-nifMedico=@Model.Informe.NifMedico asp-route-fecha=@Model.Informe.Fecha.ToString("yyyy-MM-ddTHH:mm:ss")
       method="post" enctype="multipart/form-data">
        <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
            <label asp-for="@Model.PDF" >Seleccione el archivo PDF:</label>
            <input asp-for="@Model.PDF" type="file" accept=".pdf">
        </div>
        <button type="submit" class="btn btn-primary">Modificar archivo</button>
    </form>

}
