@model gestionDiversidad.ViewModels.TInformes.InformeView
@using gestionDiversidad.Constantes

@{
    ViewData["Title"] = "infoBasica";
}

<div class="text-center">
    <h2>Información del informe</h2>
</div>

<div class="text-center">
    <hr />
    <dl class="row">
        <dt>
            <strong>Nombre alumno: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alumno.Nombre)
        </dd>
        <dt>
            <strong>Nombre médico: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medico.Nombre)
        </dd>
        <dt>
            <strong>Fecha de creación: </strong>
        </dt>
        <dd>
            @Html.Raw(Model.Informe.Fecha.ToString("yyyy/MM/dd HH:mm:ss"))
        </dd>
        <dd>
            <a href="@Url.Action("verInforme", "TInformes", 
            new {nifAlumno = Model.Informe.NifAlumno, 
                nifMedico = Model.Informe.NifMedico, 
                fecha = Model.Informe.Fecha.ToString("yyyy-MM-ddTHH:mm:ss")})"
               target="_blank" class="btn btn-info text-white">Ver informe</a>
        </dd>
    </dl>
</div>

<div class="text-center">
    @if (Model.Permiso.Modificar && Context.Session.GetString(constDefinidas.keyNif) == Model.Medico.Nif)
    {
        <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
            <form asp-controller="TInformes" asp-action="actualizarPDF" asp-route-nifAlumno="@Model.Informe.NifAlumno"
            asp-route-nifMedico=@Model.Informe.NifMedico asp-route-fecha=@Model.Informe.Fecha.ToString("yyyy-MM-ddTHH:mm:ss")
                method="post" enctype="multipart/form-data">           
                    <label asp-for="@Model.PDF">Seleccione el archivo PDF:</label>
                    <input asp-for="@Model.PDF" type="file" accept=".pdf">
                <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
                    <button type="submit" class="btn btn-primary">Modificar archivo</button>
                </div>
            </form>
        </div>
    }

    <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
        <a asp-controller="TInformes" asp-action="listaInformes" class="btn btn-dark">
            Volver atrás
        </a>
    </div>
    @if (TempData["InformeVacio"] != null)
    {
        <div class="alert alert-danger">@TempData["InformeVacio"]</div>
    }
</div>


