@model gestionDiversidad.ViewModels.TInformes.CrearInformeView

@{
    ViewData["Title"] = "crearInforme";
}

<div class="text-center">
    <h2>Crear nuevo Informe</h2>
</div>

<hr />
<div class="text-center">
        <form asp-action="crearInformeNuevo" asp-controller="TInformes"
              method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
            <label for="medicoDataList" class="form-label" style="display: block;">Médico: </label>
            <input asp-for="MedicoNif" list="datalistOptionsMedicos" id="medicoDataList" placeholder="Buscar médico..." class="text-center">
            <datalist asp-for="MedicoNif" id="datalistOptionsMedicos">
                @foreach (var medico in Model.ListaMedicos!)
                {
                    <option value="@($"{medico.Nombre} | {medico.Nif}")"></option>
                }
            </datalist>
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.MedicoNif" class="text-danger"></span>
                </div>                
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
            <label for="alumnoDataList" class="form-label" style="display: block;">Alumno/a: </label>
            <input asp-for="NifAlumno" list="datalistOptionsAlumnos" id="alumnoDataList" placeholder="Buscar alumno/a..." class="text-center">
            <datalist asp-for="NifAlumno" id="datalistOptionsAlumnos">
                @foreach (var alumno in Model.ListaAlumnos!)
                {
                    <option value="@($"{alumno.Nombre} | {alumno.Nif}")"></option>
                }
            </datalist>
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.NifAlumno" class="text-danger"></span>
                </div>            
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
                <label asp-for="@Model.PDF" style="display: block;">Seleccione el archivo PDF:</label>
                <input asp-for="@Model.PDF" type="file" accept=".pdf">
                <div style="margin-bottom: 10px;">
                    <span asp-validation-for="@Model.PDF" class="text-danger"></span>
                </div>           
            </div>
            <div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
                <input type="hidden" name="actualRol" value="@Model.ActualRol" />
                <input type="hidden" name="actualNif" value="@Model.ActualNif" />
                <input type="submit" value="Crear informe" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="listaInformes" asp-controller="TInformes" class="btn btn-dark">
                    Volver atrás
                </a>
            </div>
        </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
