@model gestionDiversidad.ViewModels.ListaInformesView

@{
    ViewData["Title"] = "listaInformes";
}

<h1>Lista de informes</h1>

<table class="table" style="text-align:center; vertical-align:middle">
    <thead>
        <tr>
            <th>
                <strong>Alumno </strong>
            </th>
            <th>
                <strong>Médico </strong>
            </th>
            <th>
                <strong>@Html.DisplayNameFor(model => model.ListaInformes.First().Fecha)</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaInformes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NifAlumnoNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NifMedicoNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                @if (Model.Informe.Acceder)
                {
                    <td>
                        <form method="get" asp-action="infoBasica" asp-controller="TInformes">
                            <input type="hidden" name="nifAlumno" value=@item.NifAlumno />
                            <input type="hidden" name="nifMedico" value=@item.NifMedico />
                            <input type="hidden" name="fecha" value=@item.Fecha.ToString("yyyy-MM-ddTHH:mm:ss") />
                            <button type="submit">Detalles informe</button>
                        </form>
                    </td>
                }
                @if (Model.Permiso.Borrar)
                {
                    <td>
                        <a asp-controller="TInformes" asp-action="borrarInforme"
                   asp-route-nifMedico="@item.NifMedico" asp-route-nifAlumno="@item.NifAlumno"
                   asp-route-fecha="@item.Fecha.ToString("yyyy-MM-ddTHH:mm:ss")"
                           class="btn btn-danger">Borrar informe</a>
                    </td>
                }
                @if (Model.Permiso.Modificar)
                {
                    <td>
                    <a asp-controller="TInformes" asp-action="elegirMedicoInforme"
                   asp-route-nifMedico="@item.NifMedico" asp-route-nifAlumno="@item.NifAlumno"
                   asp-route-fecha="@item.Fecha.ToString("yyyy-MM-ddTHH:mm:ss")"
                           class="btn btn-primary">Cambiar médico informe</a>
                    </td>
                }
                
            </tr>
        }
    </tbody>
</table>
@if (Model.Permiso.Insertar)
{
    <div style="margin-top: 10px; margin-bottom: 10px;">
        <a asp-controller="TInformes" asp-action="insertarInforme"
           class="btn btn-primary">Nuevo Informe</a>
    </div>
}
@if (Model.Rol == Model.SesionRol)
{
    <div style="margin-top: 10px; margin-bottom: 10px;">
        <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.Nif asp-route-rol=@Model.Rol>Volver al perfil principal</a>
    </div>
}
else
{
    <div style="margin-top: 10px; margin-bottom: 10px;">
        <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.Nif asp-route-rol=@Model.Rol>Volver para atrás</a>
    </div>
    <div style="margin-top: 10px; margin-bottom: 10px;">
        <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.SesionNif asp-route-rol=@Model.SesionRol>Volver a perfil principal</a>
    </div>
}
@if (TempData["UnSoloInforme"] != null)
{
    <div class="alert alert-danger">@TempData["UnSoloInforme"]</div>
}

