@model gestionDiversidad.ViewModels.ListaInformesView

@{
    ViewData["Title"] = "listaInformes";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListaInformes.First().NifAlumnoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaInformes.First().NifMedicoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaInformes.First().Fecha)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaInformes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NifAlumnoNavigation.Nif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NifMedicoNavigation.Nif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
                @if (Model.Informe.Acceder)
                {
                    <td>
                        <form method="get" asp-action="infoBasica" asp-controller="TInformes">
                            <input type="hidden" name="nifAlumno" value=@item.NifAlumno />
                            <input type="hidden" name="nifMedico" value=@item.NifMedico />
                            <input type="hidden" name="fecha" value=@item.Fecha.ToString("yyyy-MM-ddTHH:mm:ss") />
                            <input type="hidden" name="rolInforme" value=@Model.Rol />
                            <button type="submit">Detalles informe</button>
                        </form>
                    </td>
                }
                
            </tr>
        }
    </tbody>
</table>
@if (Model.Rol == Model.SesionRol)
{
    <div>
        <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.Nif asp-route-rol=@Model.Rol>Volver al perfil principal</a>
    </div>
}
else
{
    <div>
        <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.Nif asp-route-rol=@Model.Rol>Volver para atrás</a>
    </div>
    <div>
        <a asp-controller="TUsuarios" asp-action="volverPerfil"
       asp-route-nif=@Model.SesionNif asp-route-rol=@Model.SesionRol>Volver a perfil principal</a>
    </div>
}

